.link-delete ul li a{
    color: black;
}

.icons{
    list-style: none;
}

.img-produk{
    max-height: 13rem;
    display: block;
    overflow: hidden;
    margin: auto;
}

.hover-card-produk:hover{
    transition: 0.1s ease;
    transform: scale(1.06);
}

