.card::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #007C84;
}

/* card offline */
.card-off::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #007C84;
}

/* index produk */
.sty-card{
    background-color: #f2f8f8; 
    color: #007C84;  
    border-radius: 12px
}

.sty-btn-edit{
    background-color: #e1edef; 
    border-radius: 8px;  
    box-shadow: 4px 4px 2px rgba(0, 118, 135, 0.1); 
}

.hd{
    background-color: #f2f8f8; 
    border-radius: 12px 12px 0px 0px !important;
}

/* card melihat pesanan */
.card-melihat::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3.2rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #007C84;
}

.card-off::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3.2rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #2db5b2;
}

